.success_container {
  margin: 30px;
  display: flex;

  /* justify-content: space-between; */
}

.success_navbar {
  padding-top: 38px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #c6c6c6;
  width: 8.14%;

  margin-right: 30px;
}

.success_nav__menu {
  position: relative;
  height: 100%;
}

.success_nav__menu ul {
  position: sticky;
  top: 100px;
}

.success_nav__menu li {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.success_nav__menu img {
  margin: 0 auto 0;
  width: 40.5%;
  height: 40.5%;
}
.success_nav__menu p {
  padding-top: 7px;
}

.component-column--img-blue {
  display: none;
}

.success_nav__menu li:nth-child(2) p {
  color: #3c62e5;
}

.success_nav__menu li:hover {
  color: #3c62e5;
}

.success_nav__menu li:hover > .component-column--img-blue {
  display: block;
}

.success_nav__menu li:hover > .component-column--img-black {
  display: none;
}

.success_nav__menu li.active {
  color: #3c62e5;
}

.success_nav__menu li.active > .component-column--img-blue {
  display: block;
}

.success_nav__menu li.active > .component-column--img-black {
  display: none;
}

/* my_success_1.html */

.success {
  position: relative;
  width: 88.5%;
  height: 71.3vh;
  background-color: white;
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.success__search {
  margin-top: 152px;
  /* height: 38.51%; */
  width: 72.9%;
}
.success__search hr {
  width: 100%;
}

.success__search-select h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 23px;
}

/* .success__search-select-interview {
  position: relative;
} */

.success__search-select-interview button {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 3%;
  padding-left: 3%;
  height: 10.8vh;
  width: 100%;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8e8e8e;
}

.success__search-select-interview-group-1 span:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin: 10px;
}
.success__search-select-interview-group-1 span:nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  color: #ff776d;
}

.success__search-select-interview button:hover {
  background-color: #aaaaaa;
}

.success__search-select-interview button:hover span {
  color: white;
}

.success__search-select-interview button:hover span:nth-child(2) {
  color: #d83529;
  /* font-weight: 700; */
}

.interview {
  position: relative;
  width: 88.5%;
  height: 71.3vh;
  background-color: white;
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.interview__result {
  margin-top: 7.5%;
  width: 72.9%;
}

.interview__result hr {
  width: 100%;
  margin-top: 23px;
}

.interview__result-title h1 {
  font-size: 24px;
  font-weight: 700;
}
.interview__result-content {
  text-align: center;
  margin-top: 51px;
}

.interview__result-table {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  border: 1px solid #c6c6c6;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}
.interview__result-table table {
  width: 100%;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  border-collapse: collapse;
}
.interview__result-table th,
.interview__result-table td {
  height: 60px;
  vertical-align: middle;
}

.interview__result-table_tb-th-ei {
  background-color: #8e8e8e;
  color: white;
  font-weight: 700;
}
.interview__result-table_tb-th-001,
.interview__result-table_tb-th-002,
.interview__result-table_tb-th-003,
.interview__result-table_tb-th-004 {
  border: 1px solid #c6c6c6;
}

.interview__result-table_tb-td-001,
.interview__result-table_tb-td-002,
.interview__result-table_tb-td-003,
.interview__result-table_tb-td-004 {
  border: 1px solid #c6c6c6;
}

.interview__result-table_tb-td-002 {
  color: #3c62e5;
}

.interview__result-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.interview__result-button button {
  background-color: #3c62e5;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  padding: 1.5%;
  width: 20%;
  cursor: pointer;
}
