.success_container {
  margin: 30px;
  display: flex;
}
.success {
  position: relative;
  width: 95.5%;
  height: 672px;
  background-color: white;
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.interview {
  position: relative;
  width: 95.5%;
  height: 672px;
  background-color: white;
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.success_navbar {
  display: block;
  padding-top: 23.5px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #c6c6c6;
  width: 6.7%;
  margin-right: 30px;
  align-items: center;
}

.success_nav__menu {
  position: relative;
  height: 100%;
}

.success_nav__menu ul {
  position: sticky;
  top: 100px;
}

.success_nav__menu li {
  margin-top: 10px;
  margin-bottom: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.success_nav__menu img {
  margin-left: 26.5px;
  width: 40px;
}
.success_nav__menu p {
  padding-top: 13px;
  font-size: 12px;
}

.component-column--img-blue {
  display: none;
}

.success_nav__menu li:nth-child(2) p {
  color: #3c62e5;
}

.success_nav__menu li:hover {
  color: #3c62e5;
}

.success_nav__menu li:hover > .component-column--img-blue {
  display: block;
}

.success_nav__menu li:hover > .component-column--img-black {
  display: none;
}

.success_nav__menu li.active {
  color: #3c62e5;
}

.success_nav__menu li.active > .component-column--img-blue {
  display: block;
}

.success_nav__menu li.active > .component-column--img-black {
  display: none;
}

/* my_success_1.html */

.success__search {
  margin-top: 152px;
  /* height: 38.51%; */
  width: 71.4%;
}
.success__search hr {
  border-bottom: 1px solid #8e8e8e;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
}

.success__search-select h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 22px;
}

.success__search-select-interview {
  display: block;
  position: relative;
  align-items: center;
  padding: 100px 0 94px 0;
}

.success__search-select-interview button {
  margin: 0 auto;
  margin-bottom: 20px;
  height: 75px;
  width: 90%;
  background-color: white;
  border: 1px solid #8e8e8e;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success__search-select-interview-group-2 span {
  color: #8e8e8e;
  font-family: "noto sans kr";
  font-size: 14px;
  font-weight: 300;
  margin-right: 20px;
}

.success__search-select-interview-group-1 span:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  margin: 0 20px;
}
.success__search-select-interview-group-1 span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #ff776d;
}

.success__search-select-interview button:hover {
  background-color: #aaaaaa;
}

.success__search-select-interview button:hover span {
  color: white;
}

.success__search-select-interview button:hover span:nth-child(2) {
  color: white;
  /* font-weight: 700; */
}

.interview__result {
  margin-top: 152px;
  /* height: 38.51%; */
  width: 71.4%;
}

.interview__result hr {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #8e8e8e;
  width: 100%;
  margin-top: 22px;
}

.interview__result-title h1 {
  font-size: 24px;
  font-weight: 700;
}
.interview__result-content {
  text-align: center;
  margin: 80px 0 30px 0;
  font-family: "noto sans kr";
  font-size: 14px;
}

.interview__result-table {
  width: 90%;
  margin: auto;
  text-align: center;
  border-right: none;
  border-left: none;
  border-top: 1.5px solid #333333;
  border-bottom: 1.5px solid #333333;
}

.interview__result-table th,
.interview__result-table td {
  height: 40px;
  vertical-align: middle;
  font-family: "notn sans kr";
  font-size: 14px;
}

.interview__result-table_tb-th-ei {
  background-color: #8e8e8e;
  color: white;
  font-weight: 700;
}

.interview__result-table_tb-td-ei {
  font-weight: 500;
}

.interview__result-table_tb-th-001,
.interview__result-table_tb-th-002,
.interview__result-table_tb-th-003 {
  border-right: 0.5px solid white;
}

.interview__result-table_tb-td-001,
.interview__result-table_tb-td-002,
.interview__result-table_tb-td-003 {
  border-right: 0.5px solid #c6c6c6;
}

.interview__result-table_tb-td-002 {
  color: #3c62e5;
}

.interview__result-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.interview__result-button button {
  line-height: 50px;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: white;
  border: 1px solid #3c62e5;
  color: #3c62e5;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 45px;
}

.interview__result-button button:hover {
  background-color: #3c62e5;
  color: white;
}
