<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/src/public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <header>
      <div class="header__column">
        <div class="header__logo">
            <div class="header__logo--image">
                <img src="/src/public/assets/images/logo4.png" alt="" />
            </div>
        </div>
      </div>
      <div class="header__column">
        <div class="header__title">
          <h1>관리자 페이지</h1>
        </div>
      </div>
      <div class="header__column">
        <nav>
          <ul class="header__menu">
            <li>안녕하세요, 관리자 김관리님.</li>
            <li>
                <div class="header__menu-logout">
                    <button>로그아웃</button>
                </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
    <div class="container">
        <nav class="navbar">
            <ul class="nav__menu">
                <img src="/src/public/assets/images/icons/menuIcon_user_hover.png"/>
                <li class="nav__menu-adm">관리자 페이지</li>
                <img src="/src/public/assets/images/icons/menuIcon_search.png"/>
                <li class="nav__menu-sucSearch">합격자 조회</li>
                <img src="/src/public/assets/images/icons/menuIcon_notice.png"/>
                <li class="nav__menu-itvNotice">면접 공지</LI>
              </ul>
        </nav>
        <section class="adm">
            <nav>
              <ul class="adm__menu">
                <li class="adm__menu-rsm active">지원자 및 이력서 조회</li>
                <li class="adm__menu-id">면접 내용 조회</li>
                <li class="adm__menu-ci">면접 진행</li>
                <li class="adm__menu-empty"></li>
                <li class="adm__menu-empty"></li>
                <li class="adm__menu-empty"></li>
              </ul>
            </nav>
            <article class="adm__rsm-content">
            <h1 class="adm__rsm-content-title">안녕하십니까 프론트엔드 지원지 김명지 입니다!</h1>
            <div class="adm__rsm-content-tb__content">
                <table>
                    <thead>
                      <tr>
                        <th class="tb-th-01">지원면접</th><th class="tb-th-02">2022년도 하반기 OOOOO 프론트엔드 개발자 모집</th><th class="tb-th-03">지원자</th><th class="tb-th-04">김명지</th>
                      </tr>
                    </thead>
                </table>
                <div class="adm__rsm-content-img">
                    <img src="https://via.placeholder.com/297x358" alt="">
                </div>
            </div>
            <div class="adm__rsm-content-pd">
                <p class="adm__rsm-pd-title">인적사항</p>
            </div> 
            <div class="adm__rsm-content-pd">
                <p class="adm__rsm-pd-title">학력사항</p>
                <table class="adm__rsm-pd-ei">
                    <thead>
                      <tr class="tb-th-ei">
                        <th class="tb-th-001">기간</th><th class="tb-th-002">학교명</th><th class="tb-th-003">전공</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td class="tb-td-001">08/03/01 - 15/02/01</td><td class="tb-td-002"><a href="#!">명지초등학교</a></td><td class="tb-td-003">-</td>
                        </tr>
                        <tr>
                            <td class="tb-td-001">15/03/01 - 18/02/01</td><td class="tb-td-002"><a href="#!">명지중학교</a></td><td class="tb-td-003">-</td>
                        </tr>
                        <tr>
                            <td class="tb-td-001">18/03/01 - 21/02/01</td><td class="tb-td-002"><a href="#!">명지고등학교</a></td><td class="tb-td-003">-</td>
                        </tr>
                      </tbody>
                </table>
            </div> 
            <div class="adm__rsm-content-pd">
                <p class="adm__rsm-pd-title">자격 및 교육 사항</p>
            </div> 
            <div class="adm__rsm-content-btn">
                <button>뒤로가기</button>
            </div>
            </article>
          </section>
    </div>
      
    </main>
    <footer>
      <div class="footer">
        <p>
          우)03656 서울특별시 서대문구 가좌로 134(서울특별시 서대문구 홍은 2동
          356-1) 대표전화 (02)300-1000,1114 FAX (02)304-4832 <br />COPYRIGHT
          2022 MYONGJI COLLEGE ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>
  </body>
</html>
