<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/src/public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <header>
      <div class="header__column">
        <div class="header__logo">
            <div class="header__logo--image">
                <img src="/src/public/assets/images/logo4.png" alt="" />
            </div>
        </div>
      </div>
      <div class="header__column">
        <div class="header__title">
          <h1>관리자 페이지</h1>
        </div>
      </div>

      <div class="header__column">
        <nav>
          <ul class="header__menu">
            <li>안녕하세요, 관리자 김관리님.</li>
            <li>
                <div class="header__menu-logout">
                    <button>로그아웃</button>
                </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
    <div class="container">
        <nav class="navbar">
            <ul class="nav__menu">
                <img src="/src/public/assets/images/icons/menuIcon_user_hover.png"/>
                <li class="nav__menu-adm">관리자 페이지</li>
                <img src="/src/public/assets/images/icons/menuIcon_search.png"/>
                <li class="nav__menu-sucSearch">합격자 조회</li>
                <img src="/src/public/assets/images/icons/menuIcon_notice.png"/>
                <li class="nav__menu-itvNotice">면접 공지</LI>
              </ul>
        </nav>
        <section class="adm">
            <nav>
              <ul class="adm__menu">
                <li class="adm__menu-rsm active">지원자 및 이력서 조회</li>
                <li class="adm__menu-id">면접 내용 조회</li>
                <li class="adm__menu-ci">면접 진행</li>
                <li class="adm__menu-empty"></li>
                <li class="adm__menu-empty"></li>
                <li class="adm__menu-empty"></li>
              </ul>
            </nav>
            <article class="adm__rsm">
              <h1 class="adm__rsm-list">지원자 및 이력서 목록 - 2022년도 하반기 OOOOO 프론트엔드 개발자 모집</h1>
              <div class="adm__rsm-tb">
                <table>
                    <thead>
                      <tr>
                        <th class="tb-th-1">번호</th><th class="tb-th-2">이력서 제목</th><th class="tb-th-3">지원자</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class>
                        <td class="tb-td-1">1</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">2</td><td class="tb-td-2"><a href="#!">안녕하십니까 프론트엔드 지원지 김명지 입니다!</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">3</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">4</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">5</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">6</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">7</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">8</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">9</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">10</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                      <tr>
                        <td class="tb-td-1">11</td><td class="tb-td-2"><a href="#!">이력서 제목</a></td><td class="tb-td-3">김명지</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a class="active" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">&raquo;</a>
                  </div>
                  <button>뒤로가기</button>
              </div>
            </article>
          </section>
    </div>
      
    </main>
    <footer>
      <div class="footer">
        <p>
          우)03656 서울특별시 서대문구 가좌로 134(서울특별시 서대문구 홍은 2동
          356-1) 대표전화 (02)300-1000,1114 FAX (02)304-4832 <br />COPYRIGHT
          2022 MYONGJI COLLEGE ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>
  </body>
</html>
