<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/src/public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <header>
      <div class="header__column">
        <div class="header__logo">
          <div class="header__logo--image">
            <img src="/src/public/assets/images/logo4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="header__column">
        <div class="header__title">
          <h1>면접공지</h1>
        </div>
      </div>

      <div class="header__column">
        <nav>
          <ul class="header__menu">
            <li>안녕하세요, 김명지님</li>
            <li>
              <div class="header__menu-logout">
                <button>로그아웃</button>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="notice_adm_container">
        <div class="notice_adm_navbar">
          <div class="notice_adm_nav__menu">
            <ul>
              <li>
                <img
                  src="/src/public/assets/images/icons/menuIcon_user.png"
                  alt=""
                  class="component-column--img-black"
                />
                <img
                  src="/src/public/assets/images/icons/menuIcon_user_hover.png"
                  alt=""
                  class="component-column--img-blue"
                />
                <p>관리자페이지</p>
              </li>
              <li>
                <img
                  src="/src/public/assets/images/icons/menuIcon_search.png"
                  alt=""
                  class="component-column--img-black"
                />
                <img
                  src="/src/public/assets/images/icons/menuIcon_search_hover.png"
                  alt=""
                  class="component-column--img-blue"
                />
                <p>합격자 조회</p>
              </li>
              <li class="active">
                <img
                  src="/src/public/assets/images/icons/menuIcon_notice.png"
                  alt=""
                  class="component-column--img-black"
                />
                <img
                  src="/src/public/assets/images/icons/menuIcon_notice_hover.png"
                  alt=""
                  class="component-column--img-blue"
                />
                <p>면접 공지</p>
              </li>
            </ul>
          </div>
        </nav>
        </div>
        <section class="notice-adm">
          <article class="notice-adm__interview">
            <div class="notice-adm__interview-title">
              <h1>면접 공지사항</h1>
              <button>글쓰기</button>
            </div>
            <hr />
            <div class="notice-adm__interview-tab-header">
              <div class="notice-adm__interview-tab-header-div">
                <p>번호</p>
              </div>
              <hr />
              <div class="notice-adm__interview-tab-header-div">
                <p>제목</p>
              </div>
              <hr />
              <div class="notice-adm__interview-tab-header-div">
                <p>날짜</p>
              </div>
              <hr />
              <div class="notice-adm__interview-tab-header-div">
                <p>조회수</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-notice">
              <div class="notice-adm__interview-table-notice-no">
                <p>공지</p>
              </div>
              <div class="notice-adm__interview-table-notice-title">
                <p>면접 지원 안내 및 주의사항</p>
              </div>
              <div class="notice-adm__interview-table-notice-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-notice-views">
                <p>1596</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>25</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>2022년도 명지전문대 면접 모집</p>
              </div>
              <div class="notice-adm__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>24</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>2022년도 하반기 OOOOO 프론트엔드 개발자 모집</p>
              </div>
              <div class="notice-adm__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>23</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>면접 공지 제목 문구</p>
              </div>
              <div class="notice__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>22</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>면접 공지 제목 문구</p>
              </div>
              <div class="notice__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>21</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>면접 공지 제목 문구</p>
              </div>
              <div class="notice__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>20</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>면접 공지 제목 문구</p>
              </div>
              <div class="notice__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>19</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>면접 공지 제목 문구</p>
              </div>
              <div class="notice__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>18</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>면접 공지 제목 문구</p>
              </div>
              <div class="notice__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>17</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>면접 공지 제목 문구</p>
              </div>
              <div class="notice__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice-adm__interview-table-text">
              <div class="notice-adm__interview-table-text-no">
                <p>16</p>
              </div>
              <div class="notice-adm__interview-table-text-title">
                <p>면접 공지 제목 문구</p>
              </div>
              <div class="notice__interview-table-text-date">
                <p>2022/01/01</p>
              </div>
              <div class="notice-adm__interview-table-text-views">
                <p>159</p>
              </div>
            </div>
            
            <div class="notice__interview-page">
              <div class="notice__interview-pagination">
                <a href="#">&laquo;</a>
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&raquo;</a>
              </div>
            </div>
          </article>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer">
        <p>
          우)03656 서울특별시 서대문구 가좌로 134(서울특별시 서대문구 홍은 2동
          356-1) 대표전화 (02)300-1000,1114 FAX (02)304-4832 <br />COPYRIGHT
          2022 MYONGJI COLLEGE ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>
  </body>
</html>
