<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/src/public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <header>
      <div class="header__column">
        <div class="header__logo">
          <div class="header__logo--image">
            <img src="/src/public/assets/images/logo4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="header__column">
        <div class="header__title">
          <h1>마이페이지</h1>
        </div>
      </div>

      <div class="header__column">
        <nav>
          <ul class="header__menu">
            <li>안녕하세요,</li>
            <li>김명지님.</li>
            <li class="component__header-menu--button">로그아웃</li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="find component">
        <div class="component-column">
          <nav class="component-column--nav">
            <ul>
              <li class="active">
                <img
                  src="/src/public/assets/images/icons/menuIcon_user.png"
                  alt=""
                  class="component-column--img-black"
                />
                <img
                  src="/src/public/assets/images/icons/menuIcon_user_hover.png"
                  alt=""
                  class="component-column--img-blue"
                />
                마이페이지
              </li>
              <li>
                <img
                  src="/src/public/assets/images/icons/menuIcon_search.png"
                  alt=""
                  class="component-column--img-black"
                />
                <img
                  src="/src/public/assets/images/icons/menuIcon_search_hover.png"
                  alt=""
                  class="component-column--img-blue"
                />
                합격자조회
              </li>
              <li>
                <img
                  src="/src/public/assets/images/icons/menuIcon_notice.png"
                  alt=""
                  class="component-column--img-black"
                />
                <img
                  src="/src/public/assets/images/icons/menuIcon_notice_hover.png"
                  alt=""
                  class="component-column--img-blue"
                />
                면접 공지
              </li>
            </ul>
          </nav>
        </div>
        <div class="component-column">
          <nav>
            <ul class="component__menu">
              <li class="component__menu--li">내 이력서</li>
              <li class="component__menu--li">내 면접</li>
              <li class="component__menu--li active">개인정보 변경</li>
              <li></li>
            </ul>
          </nav>
          <article class="component__content">
            <div class="component__content-div">
              <h1>개인정보 변경</h1>
              <div class="component__content--hr">
                <div class="component__content-form change">
                  <div class="component__content-form--div">
                    <label for="name">이름</label>
                    <input
                      type="text"
                      id="name"
                      placeholder="이름을 입력해주세요."
                    />
                  </div>
                  <div class="component__content-form--div">
                    <label>성별</label>
                    <span>
                      <div>
                        <input type="radio" id="man" />
                        <label for="man">남자</label>
                      </div>
                      <div>
                        <input type="radio" id="woman" />
                        <label for="woman">여자</label>
                      </div>
                    </span>
                  </div>
                  <div class="component__content-form--div">
                    <label for="birth">생년월일</label>
                    <input type="text" id="birth" placeholder="8자리 입력" />
                  </div>
                  <div class="component__content-form--div">
                    <label for="tel">전화번호</label>
                    <input type="text" id="tel" placeholder="'-'없이 입력" />
                  </div>
                  <div class="component__content-form--div">
                    <label for="email">이메일</label>
                    <span>
                      <input type="text" id="email" placeholder="example" />
                      <p>@</p>
                      <input type="text" id="email" placeholder="example.com" />
                    </span>
                  </div>
                  <div class="component__content-form--div">
                    <label for="adress">주소</label>
                    <div>
                      <span>
                        <input
                          type="text"
                          id="adress"
                          placeholder="우편번호를 입력해주세요."
                        />
                        <button>우편번호</button>
                      </span>
                      <input
                        type="text"
                        id="adress"
                        placeholder="주소를 입력해주세요."
                      />
                    </div>
                  </div>
                  <div class="component__content-form--div">
                    <button>변경하기</button>
                    <button>취소</button>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer">
        <p>
          우)03656 서울특별시 서대문구 가좌로 134(서울특별시 서대문구 홍은 2동
          356-1) 대표전화 (02)300-1000,1114 FAX (02)304-4832 <br />COPYRIGHT
          2022 MYONGJI COLLEGE ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>
  </body>
</html>
