<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/src/public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <header>
      <div class="header__column">
        <div class="header__logo">
          <div class="header__logo--image">
            <img src="/src/public/assets/images/logo4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="header__column">
        <div class="header__title">
          <h1>관리자 페이지</h1>
        </div>
      </div>

      <div class="header__column">
        <nav>
          <ul class="header__menu">
            <li>안녕하세요, 관리자 김관리님.</li>
            <li>
              <div class="header__menu-logout">
                <button>로그아웃</button>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <nav class="navbar">
          <ul class="nav__menu">
            <img
              src="/src/public/assets/images/icons/menuIcon_user_hover.png"
            />
            <li class="nav__menu-adm">관리자 페이지</li>
            <img src="/src/public/assets/images/icons/menuIcon_search.png" />
            <li class="nav__menu-sucSearch">합격자 조회</li>
            <img src="/src/public/assets/images/icons/menuIcon_notice.png" />
            <li class="nav__menu-itvNotice">면접 공지</li>
          </ul>
        </nav>
        <section class="success">
          <article class="success__search">
            <div class="success__search-select">
              <h1>합격조회를 할 면접을 선택해주세요.</h1>
            </div>
            <hr />
            <div class="success__search-select-interview">
              <button>2022 명지전문대 입시 면접</button>
            </div>
          </article>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer">
        <p>
          우)03656 서울특별시 서대문구 가좌로 134(서울특별시 서대문구 홍은 2동
          356-1) 대표전화 (02)300-1000,1114 FAX (02)304-4832 <br />COPYRIGHT
          2022 MYONGJI COLLEGE ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>
  </body>
</html>
