<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/src/public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <header>
      <div class="header__column">
        <div class="header__logo">
          <div class="header__logo--image">
            <img src="/src/public/assets/images/logo4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="header__column">
        <div class="header__title">
          <h1>합격자 조회</h1>
        </div>
      </div>

      <div class="header__column">
        <nav>
          <ul class="header__menu">
            <li>안녕하세요, 김명지님</li>
            <li>
              <div class="header__menu-logout">
                <button>로그아웃</button>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <nav class="navbar">
          <ul class="nav__menu">
            <img src="/src/public/assets/images/icons/menuIcon_user.png" />
            <li class="nav__menu-adm">마이페이지</li>
            <img
              src="/src/public/assets/images/icons/menuIcon_search_hover.png"
            />
            <li class="nav__menu-sucSearch">합격자 조회</li>
            <img src="/src/public/assets/images/icons/menuIcon_notice.png" />
            <li class="nav__menu-itvNotice">면접 공지</li>
          </ul>
        </nav>
        <section class="interview">
          <article class="interview__result">
            <div class="interview__result-title">
              <h1>면접 결과</h1>
            </div>
            <hr />
            <div class="interview__result-content">
              <p>면접 조회 결과입니다.</p>
              <table class="interview__result-content-table">
                <thead>
                  <tr class="tb-th-ei">
                    <th class="tb-th-001">기간</th>
                    <th class="tb-th-002">학교명</th>
                    <th class="tb-th-003">전공</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tb-td-001">08/03/01 - 15/02/01</td>
                    <td class="tb-td-002"><a href="#!">명지초등학교</a></td>
                    <td class="tb-td-003">-</td>
                  </tr>
                  <tr>
                    <td class="tb-td-001">15/03/01 - 18/02/01</td>
                    <td class="tb-td-002"><a href="#!">명지중학교</a></td>
                    <td class="tb-td-003">-</td>
                  </tr>
                  <tr>
                    <td class="tb-td-001">18/03/01 - 21/02/01</td>
                    <td class="tb-td-002"><a href="#!">명지고등학교</a></td>
                    <td class="tb-td-003">-</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
          </article>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer">
        <p>
          우)03656 서울특별시 서대문구 가좌로 134(서울특별시 서대문구 홍은 2동
          356-1) 대표전화 (02)300-1000,1114 FAX (02)304-4832 <br />COPYRIGHT
          2022 MYONGJI COLLEGE ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>
  </body>
</html>
