<!DOCTYPE html>
<html>

<head>
    <title>
        Welcome
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <div>
        <H1>Welcome!</H1>
    </div>
    <div>
        <form method="POST" action="auth/signin">
            ID: <input type="username" name="username" hint="fdsaf" required /><br />
            PW: <input type="password" name="password" required /><br />
            <button type="submit">Sign In</button>
        </form><br />
        <div>
            &nbsp;<a href="signupPage">Sign Up</a> | <a>Forgot Password</a>
        </div>
    </div>
</body>

</html>