<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/src/public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <header>
      <div class="header__column">
        <div class="header__logo">
          <div class="header__logo--image">
            <img src="/src/public/assets/images/logo4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="header__column">
        <div class="header__title">
          <h1>면접공지</h1>
        </div>
      </div>

      <div class="header__column">
        <nav>
          <ul class="header__menu">
            <li>안녕하세요, 김명지님</li>
            <li>
              <div class="header__menu-logout">
                <button>로그아웃</button>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="notice_container">
        <div class="notice_navbar">
          <div class="notice_nav__menu">
            <ul>
              <li>
                <img
                  src="/src/public/assets/images/icons/menuIcon_user.png"
                  alt=""
                  class="component-column--img-black"
                />
                <img
                  src="/src/public/assets/images/icons/menuIcon_user_hover.png"
                  alt=""
                  class="component-column--img-blue"
                />
                <p>마이페이지</p>
              </li>
              <li>
                <img
                  src="/src/public/assets/images/icons/menuIcon_search.png"
                  alt=""
                  class="component-column--img-black"
                />
                <img
                  src="/src/public/assets/images/icons/menuIcon_search_hover.png"
                  alt=""
                  class="component-column--img-blue"
                />
                <p>합격자 조회</p>
              </li>
              <li class="active">
                <img
                  src="/src/public/assets/images/icons/menuIcon_notice.png"
                  alt=""
                  class="component-column--img-black"
                />
                <img
                  src="/src/public/assets/images/icons/menuIcon_notice_hover.png"
                  alt=""
                  class="component-column--img-blue"
                />
                <p>면접 공지</p>
              </li>
            </ul>
          </div>
        </nav>
        </div>
        <section class="notice">
          <article class="notice__details">
            <div class="notice__details-h1">
              <h1>2022년도 하반기 OOOOO 프론트엔트 개발자 모집</h1>
            </div>
            <hr />
            <div class="notice__details-header">
              <div class="notice__details-header-div"><p>첨부파일</p></div>
              <hr />
              <div class="notice__details-header-div">
                <p>첨부파일...hwp</p>
              </div>
              <div class="notice__details-header-div"><p>날짜</p></div>
              <hr />
              <div class="notice__details-header-div">
                <p>2022 / 01 / 01</p>
              </div>
              <hr />
              <div class="notice__details-header-div"><p>조회수</p></div>
              <hr />
              <div class="notice__details-header-div"><p>159</p></div>
            </div>
            <hr />
            <div class="notice__details-text">
              <p>
                2022년도 하반기 OOOOO 프론트엔트 개발자를 모집합니다.<br />저희와
                함께 할 인재를 모집합니다. 많은 지원 부탁드립니다<br />지원방법<br />
                .<br />.<br />.<br />.<br />.<br />.<br />.<br />.<br />.<br />
                .<br />.<br />.<br />.<br />.<br />.<br />.<br />.<br />.<br />
                .<br />.<br />.<br />.<br />.<br />.<br />.<br />.<br />.<br />
              </p>
            </div>
            <div class="notice__details-button">
              <button>지원하기</button>
              <button>목록</button>
            </div>
            <hr />
          </article>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer">
        <p>
          우)03656 서울특별시 서대문구 가좌로 134(서울특별시 서대문구 홍은 2동
          356-1) 대표전화 (02)300-1000,1114 FAX (02)304-4832 <br />COPYRIGHT
          2022 MYONGJI COLLEGE ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>
  </body>
</html>
