@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import "reset.css";
@import "variable.css";

/* components */
@import "components/header.css";
@import "components/footer.css";
@import "components/authentication.css";
@import "components/component_my_resume.css";

/* screens */
@import "screens/find.css";
@import "screens/adm.css";
@import "screens/mysuccess.css";
@import "screens/join.css";
@import "screens/main.css";
@import "screens/notice.css";
@import "screens/notice_adm.css";
@import "screens/interview.css";

/* 
body {
  background-color: #f3f3f3;
  width: 100%;
} */
