<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/src/public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <header>
      <div class="header__column">
        <div class="header__logo">
          <div class="header__logo--image">
            <img src="/src/public/assets/images/logo4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="header__column">
        <div class="header__title">
          <h1>회원가입</h1>
        </div>
      </div>

      <div class="header__column">
        <nav>
          <ul class="header__menu">
            <li>마이페이지</li>
            <li>|</li>
            <li>합격자조회</li>
            <li>|</li>
            <li>면접공지</li>
            <li>|</li>
            <li>로그인</li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container-joinus">
        <section class="joinUs">
          <article class="joinUs_title">
            <div class="join_us_finish_area">
              <img src="/src/public/assets/images/logo1.png" alt="" />
              <p class="join_us_finish_text_1">감사합니다</p>
              <p class="join_us_finish_text_2">회원가입이 완료되었습니다.</p>
            </div>
            <div class="joinUs_btn_area">
              <div class="next_btn" onclick="location.href='join_us_1.html'">
                <p>홈으로</p>
              </div>
            </div>
          </article>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer">
        <p>
          우)03656 서울특별시 서대문구 가좌로 134(서울특별시 서대문구 홍은 2동
          356-1) 대표전화 (02)300-1000,1114 FAX (02)304-4832 <br />COPYRIGHT
          2022 MYONGJI COLLEGE ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>
  </body>
</html>
