<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/src/public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <header>
      <div class="header__column">
        <div class="header__logo">
          <div class="header__logo--image">
            <img src="/src/public/assets/images/logo4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="header__column">
        <div class="header__title">
          <h1>아이디(학번)ㆍ비밀번호 찾기</h1>
        </div>
      </div>

      <div class="header__column">
        <nav>
          <ul class="header__menu">
            <li>마이페이지</li>
            <li>|</li>
            <li>합격자조회</li>
            <li>|</li>
            <li>면접공지</li>
            <li>|</li>
            <li>로그인</li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="find">
        <nav>
          <ul class="find__menu">
            <li class="find__menu-id">아이디(학번) 찾기</li>
            <li class="find__menu-ps active">비밀번호 찾기</li>
          </ul>
        </nav>
        <article class="find__password">
          <h1>아이디 입력</h1>
          <div>
            <hr />
            <div class="find__password-form">
              <p>비밀번호를 찾고자 하는 아이디를 입력해주세요.</p>
              <input type="text" placeholder="아이디를 입력하세요." />
              <button>아이디 확인</button>
            </div>
            <hr />
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="footer">
        <p>
          우)03656 서울특별시 서대문구 가좌로 134(서울특별시 서대문구 홍은 2동
          356-1) 대표전화 (02)300-1000,1114 FAX (02)304-4832 <br />COPYRIGHT
          2022 MYONGJI COLLEGE ALL RIGHTS RESERVED.
        </p>
      </div>
    </footer>
  </body>
</html>
