<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../public/assets/css/style.css" />
    <title>interview</title>
  </head>
  <body>
    <main>
      <section class="main-view">
        <div class="main-view__notice">
          <div class="main-view__notice-out-1"></div>
          <div class="main-view__notice-in-1"></div>
          <div class="main-view__notice-out-2"></div>
          <div class="main-view__notice-in-2"></div>
          <div class="main-view__notice-left-corner-1"></div>
          <div class="main-view__notice-left-corner-2"></div>
          <div class="main-view__notice-right-corner-1"></div>
          <div class="main-view__notice-right-corner-2"></div>
          <div class="main-view__notice-left-box"></div>
          <div class="main-view__notice-right-box"></div>
          <div class="main-view__notice-content">
            <img
              src="../../public/assets/images/icons/menuIcon_notice.png"
              alt=""
            />
            <h1>공지사항</h1>
            <h2>NOTICE</h2>
            <span>#오늘의 공지</span>
            <span>#필수확인</span>
            <span>#대학공지</span>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
